/.gradle/
bin
build
/python_code/.idea/

# Temporary files created when working on Linux
*~

# Files created when compiling python
*.pyc

# Eclipse files are created with `gradlew eclipse`
.classpath
.project
.settings
